In [1]:
import pandas as pd # Biblioteca para processamento de dados
import numpy as np # Biblioteca para Álgebra Linear
import pickle # Biblioteca para salvar/carregar modelos de machine learning

# Bibliotecas para pré-processamento e transformações dos dados
from sklearn import preprocessing
from sklearn import decomposition

# separar dados em teste e treino
from sklearn.model_selection import train_test_split

# Biblioteca para machine learning usando multi layers Perceptron
from sklearn.neural_network import MLPClassifier

# Bibliotecas para avaliar o modelo
from sklearn import metrics
from sklearn.metrics import classification_report

# tratar warnings
import warnings

warnings.filterwarnings('ignore')

In [2]:
# carregando os dados
file_path = "../Dados/train.csv"
file_path_teste = "../Dados/test.csv"

dataSet = pd.read_csv(file_path)
dataSet_teste = pd.read_csv(file_path_teste)

dataSet.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# visualizando o 'formato' dos dados
dataSet.describe()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.00000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0
mean,4.456643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.219286,0.117095,0.059024,0.02019,0.017238,0.002857,0.0,0.0,0.0,0.0
std,2.887730,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.312890,4.633819,3.274488,1.75987,1.894498,0.414264,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.00000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [7]:
# verificando os tipos das colunas
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42000 entries, 0 to 41999
Columns: 785 entries, label to pixel783
dtypes: int64(785)
memory usage: 251.5 MB

In [8]:
# verificando se há valores NA
dataSet.isna().sum().sum()

0

In [3]:
# normlizando os dados tanto para treino quanto teste
min_max_scaler = preprocessing.MinMaxScaler()
dataSet2 = pd.DataFrame(min_max_scaler.fit_transform(dataSet.drop(['label'], axis = 1)))

dataSet_teste2 = pd.DataFrame(min_max_scaler.fit_transform(dataSet_teste))

In [4]:
dataSet2['label'] = dataSet['label']

In [5]:
# visualizando o novo 'formato' dos dados
dataSet2.describe()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
count,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,42000.0,...,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.0,42000.0,42000.0,42000.0,42000.000000
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000461,0.000233,0.000080,0.000068,0.000046,0.0,0.0,0.0,0.0,4.456643
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.018243,0.012943,0.006956,0.007459,0.006682,0.0,0.0,0.0,0.0,2.887730
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,2.000000
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,4.000000
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,7.000000
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,9.000000

In [9]:
# separando o dataset em treino e teste
train, test = train_test_split(dataSet2, test_size = 0.3)

In [11]:
# https://scikit-learn.org/stable/modules/neural_networks_supervised.html

# modelo - MLP(redes neurais)
modelo_MLP = MLPClassifier(hidden_layer_sizes = (800, 100),
                           alpha = 1e-4,
                           random_state = 101,
                           solver='adam')


modelo_MLP.fit(train.drop(['label'], axis = 1), train['label'])

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(800, 100), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=101, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [12]:
previsoes_MLP = modelo_MLP.predict(test.drop(['label'], axis = 1))

metrics.accuracy_score(test['label'], previsoes_MLP)*100

97.84126984126983

In [16]:
# Avaliando o modelo - usando métricas de classificação
print(classification_report(test['label'], previsoes_MLP))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1220
           1       0.98      0.99      0.99      1453
           2       0.98      0.98      0.98      1205
           3       0.98      0.98      0.98      1248
           4       0.98      0.98      0.98      1256
           5       0.98      0.98      0.98      1192
           6       0.98      0.99      0.99      1239
           7       0.98      0.97      0.98      1284
           8       0.97      0.96      0.97      1214
           9       0.97      0.96      0.97      1289

   micro avg       0.98      0.98      0.98     12600
   macro avg       0.98      0.98      0.98     12600
weighted avg       0.98      0.98      0.98     12600

In [17]:
# salvando o modelo
arquivo = "../Modelos/modelo_classificador_MLPNotReduced.sav"
# pickle.dump(modelo_MLP, open(arquivo, 'wb'))

# Carregando o modelo
# modelo_regressor_final = pickle.load(open(arquivo, 'rb'))

In [18]:
# aplicando o modelo aos dados de teste
resultado = modelo_SVC.predict(dataSet_teste2); resultado

array([2, 0, 9, ..., 3, 9, 2])

In [19]:
resultado_df = pd.DataFrame({'ImageId':[x for x in range(1, len(resultado)+1)],
                             'Label':resultado}); resultado_df.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      9
4        5      3

In [20]:
resultado_df.to_csv('../Dados/Resultado.csv', index = False)

# FIM